Django==1.5
Markdown==2.3.1
Pygments==1.6
South==0.8.1
boto==2.9.5
dj-database-url==0.2.1
django-disqus==0.4.1
django-ganalytics==0.2
django-markdown==0.2.1
django-storages==1.1.8
gunicorn==0.17.4
newrelic==1.13.1.31
psycopg2==2.4.6
wsgiref==0.1.2
