<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>My Site</title>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}static/bootstrap/css/bootstrap.css" />

    <style>.content {padding-top: 80px;}</style>
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <h2>
              <a href="/" class="brand">My Site</a> <small>A place for all the things.</small>
          </h2>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          SIDEBAR CONTENT
        </div>
        <div class="span9">
          {% block content %}

          {% endblock content %}
        </div>
      </div>
    </div>

<p class="text-center">FOOTER</p>
  </body>
</html>


