<!DOCTYPE html>
{% load ganalytics %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Christopher Wavrin</title>

    <link type="text/css" rel="stylesheet" href="http://wavrincom.s3.amazonaws.com/bootstrap/css/bootstrap.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://wavrincom.s3.amazonaws.com/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,700,400italic,300italic|Lato:400,700|Indie+Flower' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/main.css" />
    <style>.content {padding-top: 80px;}</style>
    {% ganalytics %}
  </head>

  <body>
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <h3>
            <span class="visible-phone">            
              <a href="/">Christopher Wavrin</a>
            </span>
          </h3>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <span class="hidden-phone">
          <h3>

            <a href="/">Christopher Wavrin</a>

          </h3>

            <p>Hi. I'm a software development consultant and I live in Minneapolis.</p>
          <p>This site is a collection of my thoughts on software development, business, and whatever else I can think of.</p>
          
          <a href="https://twitter.com/wavrin"><img src="http://wavrincom.s3.amazonaws.com/logos/twitter.png"></a> &nbsp;
          <a href="http://www.linkedin.com/in/wavrin"><img src="http://wavrincom.s3.amazonaws.com/logos/LinkedIn.png"></a> &nbsp;
          <a href="https://github.com/wavrin"><img src="http://wavrincom.s3.amazonaws.com/logos/github.png"></a></span>
          
          
        </div>
        <div class="span9">
          {% block content %}

          {% endblock content %}
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12"><br>
          <span class="visible-phone"><h3>About</h3><p>Hi. I'm a software development consultant and I live in Minneapolis.</p>
          <p>This site is a collection of my thoughts on software development, business, and whatever else I can think of.</p>
       
          <a href="https://twitter.com/wavrin"><img src="http://wavrincom.s3.amazonaws.com/logos/twitter.png"></a> &nbsp;
          <a href="http://www.linkedin.com/in/wavrin"><img src="http://wavrincom.s3.amazonaws.com/logos/LinkedIn.png"></a> &nbsp;
          <a href="https://github.com/wavrin"><img src="http://wavrincom.s3.amazonaws.com/logos/github.png"></a>

        </span>
        </div>
      </div>
    </div>

<p class="text-center">&#169; Christopher Wavrin 2013</p>
  </body>
</html>


